<!-- <a class="list-group-item clearfix"
 (click)="onSelectItem()"
 > -->
<!-------------------using routing-->
<a class="list-group-item clearfix" [routerLink]="[index]" routerLinkActive="active">
    <div class="pull-left">
        <h4 class="list-group-item-heading">{{recipesNew.name}}</h4>
        <p class="list-grop-item-text">{{recipesNew.description}}</p>
    </div>
    <span class="pull-right">
        <img [src]="recipesNew.imagePath" alt="" class="img-responsive" style="max-height:50px ; min-width: 50px">

    </span>
</a>