<!-- <div class="container">
  <app-servers></app-servers>
  <app-assignment></app-assignment>
</div> -->
<!-- <div class="container">
  <app-cockpit (serverCreated)="onServerAdded($event)" (bluerintCreated)="onBlueprintAdded($event)"></app-cockpit>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-primary" (click)="onchangeFirst()">change first element</button>
      <button class="btn btn-danger" (click)="ondestroy()">destroy</button>
      <app-server-element [srvElement]="serverElement" *ngFor="let serverElement of ServerElements"
        [name]="serverElement.name">
        <p #paragraph>
          <strong *ngIf="serverElement.type === 'server'" style="color:red">{{serverElement.content}} </strong>
          <em *ngIf="serverElement.type === 'blueprint'">{{serverElement.content}}</em>
        </p>
      </app-server-element>
    </div>
  </div> -->


<!------------------------------------------------------>
<!-- <div class="row">
    <div class="col-xs-12">
      <app-game-control (intervalFired)="onintervalFired($event)"></app-game-control>
      <app-odd [odd]="oddnumber" *ngFor="let oddnumber of oddnumbers"></app-odd>
      <app-even [even]="evennumbers" *ngFor="let evennumber of evennumbers"></app-even>

    </div>
  </div>
</div>

<router-outlet></router-outlet> -->
<app-rxjs-concepts></app-rxjs-concepts>