<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-primary" (click)="this.showOdd = !this.showOdd">only show odd numbers</button>
      <br><br>
      <ul class="list-group">
        <!-- <div *ngIf="!showOdd">
          <li class="list-group-item" *ngFor="let even of evenNumbers" [ngClass]="{odd: even % 2 !==0}"
            [ngStyle]="{backgroundColor:even% 2 !==0 ?'yellow' : 'transparent'}">
            {{even}}

          </li>
        </div> -->
        <div *ngIf="showOdd">
          <li class="list-group-item" *ngFor="let odd of oddNumbers" [ngClass]="{odd:odd % 2 !==0}"
            [ngStyle]="{backgroundColor:odd% 2 !==0 ?'yellow' : 'transparent'}">
            {{odd}}

          </li>
        </div>
        <!------------------------how things work behind structural attribute-->
        <!-- <div [ngIf]="!showOdd">
          <li class="list-group-item" *ngFor="let even of evenNumbers" [ngClass]="{odd: even % 2 !==0}"
            [ngStyle]="{backgroundColor:even% 2 !==0 ?'yellow' : 'transparent'}">
            {{even}}

          </li>
        </div> -->
        <!---------------using own structural attribute-->
        <ng-template [appUnless]="!showOdd">
          <div>
            <li class="list-group-item" *ngFor="let even of evenNumbers" [ngClass]="{odd: even % 2 !==0}"
              [ngStyle]="{backgroundColor:even% 2 !==0 ?'yellow' : 'transparent'}">
              {{even}}

            </li>
          </div>
        </ng-template>
        <!-- <div *appUnless="!showOdd">
          <li class="list-group-item" *ngFor="let even of evenNumbers" [ngClass]="{odd: even % 2 !==0}"
            [ngStyle]="{backgroundColor:even% 2 !==0 ?'yellow' : 'transparent'}">
            {{even}}

          </li>
        </div> -->
      </ul>
      <p appBasichighlight>this is styled by customDirective</p>
      <p [appBetterDirective]="'yellow'" [highlightColor]="'red'">"this is styled using (Renderer)
        Directive"</p>


      <div [ngSwitch]="value">
        <p *ngSwitchCase="1">value is 1</p>
        <p *ngSwitchCase="2">value is 2</p>
        <p *ngSwitchCase="3">value is 3</p>
        <p *ngSwitchDefault>default is 100</p>

      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>